# Ignore directories
/bin/
/data/counts/
/data/fastq/
/docs/
/trash/
/workflow/.Rproj.user/
/workflow/.snakemake/
/zenodo/

# Ignore files
.DS_Store
.Rhistory
.Rprofile
*.xlsx
*.docx
*.rds
*.Rdata
*_with_branch_length.res.txt
*.tar.gz
.Rproj.user
